body {
       margin-top: 50px;
       text-align: center;
}

img {
      width:15%;
      high: 15%;
}

.main_text {
      font-family: 'Times New Romans';
      font-size: 45px;
      color: #33CCFF;
}

.date {
      font-family: 'Calibri';
      font-size: 30px;
      color: #CC33CC;
}

.dev {
       font-family: 'Times New Romans';  
       font-size: 20px;
       font-style: Italic;
       color: black;
       text-decoration: underline;
}
